/**
 * @color
 * @section 主色
 */
$basic-imp-color: #2e3e4b;
/**
 * @color
 * @section 主色
 */
$basic-bac-color: #eff3f6;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-color: #2b75c8;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-red-color: #d73e3e;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-yel-color: #ff9e36;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-ora-color: #ffc688;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-blue-color: #2d84e5;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-gray-color: #f8f8fa;

/**
 * @color
 * @section 边框色
 */
$basic-border-color: #e0e2e1;

$primaryDarkColor: #2E3B4B;
$primaryBlueColor: #2B75C8;
$primaryBgColor: #EFF3F6;

$subRedColor: #D73E3E;
$subOrangeColor: #FF9E3b;
$subBrownColor: #FFC688;
$subBlueColor: #2D84E5;
$borderColor: #E0E2E1;
$subBgColor: #F8F8FA;

$menuBgColor: #3C4A5B;

$font-basic-size: 14px;

$font-size-16: 16px;

$font-size-12: 12px;

$font-color-base: $primaryDarkColor;
$font-color-normal: #666;
$font-color-low: #999;
