<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/index.css" type="text/css">
</head>
<body>
		<!-- 这里引入测试的模版 -->
    <%- include button %>
    <%- include menu %>
</body>
</html>