<header>
  <div class="logo">
    ThreatBook    
  </div>
  <div class="oper">
  </div>
</header>
<ul class="menu">
  <li class="menu-item active">
    <a class="label-name">首页</a>
  </li>
  <li class="menu-item">
    <span class="label-name">分析</span>
    <ul class="sub-menu">
      <li class="sub-menu-item">
        <label>告警主机</label>
      </li>
      <li class="sub-menu-item">
        <label>告警分析</label>
      </li>
      <li class="sub-menu-item">
        <label>日志分析</label>
      </li>
    </ul>
  </li>
</ul>
