<div style='width: 300px; height: 400px; background-color: #fff;'>
	<table class="table">
		<thead class="table-head">
			<tr><th>1</th><th>1</th><th>1</th></tr>
		</thead>
		<tbody><tr class="table-body-row"><td>2</td><td>2</td><td>2</td></tr></tbody>
	</table>
</div>