.base-layout {
  display: flex;
  height: 100%;
  .menu-column {
    min-height: 100%;
    background: $menuBgColor;
  }
  .main-content {
    flex: 1;
    overflow: auto;
    padding-bottom: 50px;
  }
}
