/**
 * @atom Label
 * @section Label
 * @modifiers
 *  .label-cavity
 *  .label-danger
 *  .label-warning
 * @markup
 *  <span class="label">label</span>
 *  <span class="label label-cavity">label cavity</span>
 *  <span class="label label-danger">label danger</span>
 *  <span class="label label-warning">label warning</span>
 */
.label {    
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: $font-size-12;
  font-weight: bold;
  padding: 0 4px;
  height: 20px;
  line-height: 18px;
  color: #FFF;
  fill: #FFF;
  border-radius: 2px;
  border: 1px solid transparent;
}

.label-cavity {
  color: $basic-aid-color;
  fill: $basic-aid-color;
  border-color: $basic-aid-color;
  background-color: transparent;
}

.label-danger {
    background-color: $basic-aid-red-color;
}

@mixin labelStyle ($color) {
  background-color: $color;

  &.light {
    background-color: transparent;
    color: $color;
    border: 1px solid $color;
  }
}

.label-warning {
  @include labelStyle($basic-aid-yel-color);
}
.label-info {
  @include labelStyle($subBlueColor);
}
.label-error {
  @include labelStyle($subRedColor);
}
.label-alarm {
  @include labelStyle($subBrownColor);
}