.table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border: none;
	background-color: transparent;
	font-size: 12px;

	&.border {
		border: 1px solid $basic-border-color;

		.table-head, .table-body-row {
			border-bottom: 1px solid $basic-border-color;
		}
		.table-body-child-row, .child-open{
			border-bottom: none;
		}
		.child-open ~ .table-body-row:not(.table-body-child-row) {
			border-top: 1px solid $basic-border-color;
		}
		.table-body-expand-row ~ .table-body-row:not(.table-body-child-row){
			border-top: 1px solid $basic-border-color;
		}
		th {
			border-right: 1px solid $basic-border-color;
			&:last-child {
				border-right: none;
			}
		}
		.table-body-row{
			&:last-child, &:last-of-type {
				border-bottom: none;
			}
		}
	}
	&.background {
		background-color: $basic-aid-gray-color;
		
		.table-head {
			background-color: $basic-aid-gray-color;
		}
	}
	&.striped {
		.table-body-row:nth-child(2n) {
			background-color: $basic-aid-gray-color;
		}
		.table-head {
			background-color: $basic-aid-gray-color;
		}
	}
	&.hover {
		.table-body-row:hover {
			background-color: #e6f2ff;
			// box-shadow: 0px 10px 20px rgba(0, 0, 0, .1);
		}
	}
	table {
		width: 100%;
		border-collapse: collapse;
		border: none;
	}
}
.table-head {
	width: 100%;
	height: 30px;
	color: $primaryDarkColor;
	tr {
		height: 30px;
	}
}
.table-body-row {
	width: 100%;
	height: 50px;
	color: $primaryDarkColor;
	>td {
		height: 50px;
    text-align: center;
	}
	&.has-expand {
		cursor: pointer;
	}
	.table-body-has-child-icon{
		cursor: pointer;
		margin-top: 2px;
		width: 16px;
		height: 16px;
		margin-right: 10px;
		vertical-align: top;
	}
	&.active {
		background-color: #e6f2ff;
	}
}
.table-body-expand-row {
	background-color: #f3f3f3;
}
.table-sort-button{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	.topTriangle{
		margin-bottom: 2px;
	}
}
.table-body-wrap {
	overflow-y: scroll;

	&::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 8px;
    border-right: 1px solid #e0e2e1;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e0e2e1;
	}
	.table-row-item:last-child{
		border-right: 1px solid #e0e2e1;
	}
}
