.label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    color: #FFF;
    fill: #FFF;
    border-radius: 2px;
}

.label-danger {
    // @extend .label;
    background-color: $basic-aid-red-color;
}

.label-warning {
    background-color: $basic-aid-yel-color;
}