.tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 20px 5px 2px;
    color: #999;
    fill: #999;

    &:hover {
        cursor: pointer;
    }
}

.tab-activated {
    @extend .tab;
    color: $basic-imp-color;
    fill: $basic-imp-color;
    border-bottom: 2px solid $basic-imp-color;
}

.btn-tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: $basic-imp-color;
    fill: $basic-imp-color;    
    padding: 5px 25px;
    background-color: $basic-aid-gray-color;

    &:hover {
        cursor: pointer;
    }
}

.btn-tab-activated {
    @extend .btn-tab;
    color: $basic-aid-gray-color;
    fill: $basic-aid-gray-color;
    background-color: $basic-imp-color;
}