/**
 * @atom Label
 * @section Label
 * @modifiers
 *  .label-cavity
 *  .label-danger
 *  .label-warning
 * @markup
 *  <span class="label">label</span>
 *  <span class="label label-cavity">label cavity</span>
 *  <span class="label label-danger">label danger</span>
 *  <span class="label label-warning">label warning</span>
 */
.label {    
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: $font-size-12;
    font-weight: bold;
    padding: 0 4px;
    height: 20px;
    line-height: 20px;
    color: #FFF;
    fill: #FFF;
    border-radius: 2px;
}

.label-cavity {
    color: $basic-aid-color;
    fill: $basic-aid-color;
    border-color: $basic-aid-color;
    background-color: transparent;
}

.label-danger {
    background-color: $basic-aid-red-color;
}

.label-warning {
    background-color: $basic-aid-yel-color;
}
