.mgt20 {
	margin-top: 20px;
}
.mgb20 {
	margin-bottom: 20px;
}
.mgl20 {
	margin-left: 20px;
}
.mgr20 {
	margin-right: 20px;
}
.pdt20 {
	padding-top: 20px;
}
.pdb20 {
	padding-bottom: 20px;
}
.pdl20 {
	padding-left: 20px;
}
.pdr20 {
	padding-right: 20px;
}