.base-layout {
  display: flex;
  height: 100%;
  .menu-column {
    flex-basis: 160px;
    min-height: 100%;
    background: $menuBgColor;
  }
  .main-content {
    flex: 1;
    overflow: auto;
  }
}
