.btn {
    display: inline-block;
    padding: 0 10px;
    font-size: $font-basic-size;
    font-weight: bold;
    height: 30px;
    border-radius: 2px;

    color: #666;
    background-color: #e4e4e4;
    border: 1px solid $basic-border-color;

    &:hover {        
        // background-color: $basic-aid-gray-color;
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}    

.btn-primary {
    background-color: $basic-imp-color;
    color: #FFF;
    // &:hover {
        // background-color: #516379;
    // }
}

.btn-secondary {
    background-color: $basic-aid-blue-color;
    color: #FFF;

    &:hover {
        background-color: $basic-aid-color;
    }
}

.btn-cancel {
    background-color: $basic-border-color;
    color: #999;

    &:hover {
        background-color: $basic-border-color;
    }
}

.btn-link {
    background-color: transparent;
    border: none;
    color: #2e3b4b;
    font-weight: normal;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}