$primaryDarkColor: #2E3B4B;
$primaryBlueColor: #3B75C8;
$primaryBgColor: #EFF3F6;

$subRedColor: #D73E3E;
$subOrangeColor: #FF9E3b;
$subBrownColor: #FFC688;
$subBlueColor: #2D84E5;
$borderColor: #E0E2E1;
$subBgColor: #F8F8FA;

$menuBgColor: #3D4A5B;
