.input {
    width: 100%;
    font-size: $font-basic-size;
    color: #666;
    border: 1px solid $basic-border-color;
    height: 30px;
    line-height: 28px;
    background-color: $basic-aid-gray-color;
    padding: 0 10px;
    border-radius: 2px;
    &:focus {
        border-color: $basic-aid-blue-color;
        box-shadow: 0 0 5px $basic-aid-blue-color;
    }
}
.select {    
    .select-item {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        background-color: $basic-aid-gray-color;
        color: $basic-imp-color;
        &:hover {
            background-color: #c9e2ff;
            cursor: pointer;
        }
    }
}

.multi-select-value {
    display: inline-flex;
    align-items: center;
    border: 1px solid $basic-aid-blue-color;
    border-radius: 4px;
    color: $basic-aid-blue-color;    
    height: 20px;
    padding: 0 5px;
    font-size: 12px;
    margin-left: 10px;

    &:hover {
        cursor: default;
    }
}

.delete-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 12px;
    font-size: 14px;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

.delete-icon-lg {
    @extend .delete-icon;
    width: 20px;
    height: 20px;
    line-height: 15px;
    font-size: 25px;
}

.delete-icon-cavity {
    @extend .delete-icon;
    border-radius: 7px;
    margin-left: 5px;
    color: $basic-aid-blue-color;
    border: 1px solid $basic-aid-blue-color;        
    background-color: transparent;
}

.delete-icon-blue {
    @extend .delete-icon;
    border-radius: 7px;
    color: #FFF;
    border: 1px solid $basic-aid-blue-color;
    background-color: $basic-aid-blue-color;
}

.delete-icon-red {
    @extend .delete-icon;
    color: $basic-aid-red-color;
    font-weight: bold;
}

.multi-btn-select {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    .multi-btn-select-item {
        display: inline-block;
        font-size: $font-basic-size;
        color: #666;
        height: 20px;
        line-height: 20px;
        text-align: center;
        padding: 0 5px;
        border-radius: 2px;
        background-color: transparent;
        cursor: pointer;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        &.selected {
            background-color: $basic-aid-blue-color;
            color: #FFF;
        }
    }
}

.drop-down-select {
    border: 1px solid $basic-border-color;
    width: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    .drop-down-select-item {
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
        text-align: left;
        color: #333;
        background-color: #FFF;
        border-bottom: 1px solid $basic-border-color;

        &:hover {
            background-color: $basic-aid-blue-color;
            color: #FFF;
            cursor: pointer;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.drop-down-panel {
    width: 100px;
    height: 200px;
    border: 1px solid $basic-border-color;
    background-color: #FFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.drop-down-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid $basic-imp-color;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 2.5px solid transparent;
    vertical-align: middle; 

    &.up {
        margin-bottom: 2.5px;
        border-top: none;
        border-bottom: 5px solid $basic-imp-color;        
    }
}

.error {
    outline: 0;
    border-color: $basic-aid-red-color;
    box-shadow: inset 0 1px 1px $basic-aid-red-color, 0 0 8px $basic-aid-red-color;
}

.line {
    width: 100%;
    height: 0;
    border: none;
    border-top: 1px solid $basic-border-color;
}

.active-item {
    border-radius: 2px;
    background-color: $basic-aid-color;
    color: #FFF;
}