.head-title {
  position: absolute;
  left: 40px;
  top: 18px;
  font-size: $font-size-16;
  font-weight: 700;
  &:before {
  	position: absolute;
  	width: 4px;
    height: 20px;
    display: inline-block;
    left: 30px;
    top: 20px;
  	content: "";
    background-color: #2aadd1;
  }
}