.label {
    display: inline-block;
    text-align: center;
    font-size: $font-size-12;
    font-weight: bold;
    padding: 3px 2px;
    color: #FFF;
    fill: #FFF;
    border-radius: 2px;
}

.label-cavity {
    color: $basic-aid-color;
    fill: $basic-aid-color;
    border-color: $basic-aid-color;
    background-color: transparent;
}

.label-danger {
    background-color: $basic-aid-red-color;
}

.label-warning {
    background-color: $basic-aid-yel-color;
}