.table-head {
	width: 100%;
	height: 40px;
	background-color: #f8f8fA;
	border: 1px solid #e0e2e1;
	color: #2e3b4b;
}
.table-body-row {
	width: 100%;
	height: 50px;
	background-color: #f8f8fA;
	border: 1px solid #e0e2e1;
	color: #2e3b4b;
	&:hover {
		background-color: #e6f2ff;
	}
}