/* basic constanc */
$basic-imp-color: #2e3e4b;
/* 基本背景色 */
$basic-bac-color: #eff3f6;

/* 基本辅助色 */
$basic-aid-color: #2b75c8;
$basic-aid-red-color: #d73e3e;
$basic-aid-yel-color: #ff9e36;
$basic-aid-ora-color: #ffc688;
$basic-aid-blue-color: #2d84e5;
$basic-aid-gray-color: #f8f8fa;

/* 基本边框颜色 */
$basic-border-color: #e0e2e1;

/* 基本字体大小 */
$font-basic-size: 16px;

/* 字体大小为14px */
$font-size-14: 14px;

/* 字体大小为12px */
$font-size-14: 14px;
